<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home.index') }}">OT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'home.index' %}active{% endif %}" href="{{ path('home.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'work_order_generator' %}active{% endif %}" href="{{ path('work_order_generator') }}">Créer Ordre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') starts with 'work_order_edit' %}active{% endif %}" href="{{ path('work_order_edit_list') }}">Fermer Ordre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'list_pdfs' %}active{% endif %}" href="{{ path('list_pdfs') }}">Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'kpi_dashboard' %}active{% endif %}" href="{{ path('kpi_dashboard') }}">KPI</a>
        </li>
    </div>
  </div>
</nav>