{% extends 'base.html.twig' %}

{% block title %}Générateur d'ordre de travail{% endblock %}

{% block body %}
{{ form_start(WorkOrderRequestForm) }}
    <div class="container mt-4">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h1>Créer un ordre de travail</h1>
            </div>
        </div>

        <div class="text-center mt-4">
            <h4>Demande Intervention</h4>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-3">
                {{ form_label(WorkOrderRequestForm.intervention_requester) }}
                {{ form_widget(WorkOrderRequestForm.intervention_requester, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(WorkOrderRequestForm.intervention_requester) }}
            </div>
            <div class="col-md-3">
                {{ form_label(WorkOrderRequestForm.intervention_request_date) }}
                {{ form_widget(WorkOrderRequestForm.intervention_request_date, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(WorkOrderRequestForm.intervention_request_date) }}
            </div>
            <div class="col-md-3">
                {{ form_label(WorkOrderRequestForm.machine_name) }}
                {{ form_widget(WorkOrderRequestForm.machine_name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(WorkOrderRequestForm.machine_name) }}
            </div>
        </div>

        <div class="text-center mt-5">
            <h4>Descriptif Intervention Technique</h4>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                {{ form_label(WorkOrderRequestForm.technical_details) }}
                {{ form_widget(WorkOrderRequestForm.technical_details, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(WorkOrderRequestForm.technical_details) }}
            </div>
        </div>



        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
    </div>
{{ form_end(WorkOrderRequestForm) }}

{% endblock %}
